.header-footer-group,
.site-content {
	contain: content;
}

.site-logo img {
	border-radius: 100%;
}

.home .entry-header {
	border: 0;
	clip-path: inset( 50% );
	clip: rect( 1px, 1px, 1px, 1px );
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important; /* stylelint-disable-line */
}

article {
	contain: content;
	contain-intrinsic-size: 1102px;
	content-visibility: auto;
}

/* stylelint-disable */
.wp-block-code,
code {
	font-size: 16px !important;
	margin: 10px auto !important;
}
/* stylelint-enable */
